.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.card-image {
  height: 14rem;
  object-fit: contain;
  cursor: pointer;
  border-radius: 15px;
  transition: transform 0.3s;
}

.card-image:hover {
  transform: scale(1.1);
}
