.deck-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem; 
}

.deck-image {
  height: 14rem; 
  object-fit: contain; 
  cursor: pointer;
  border-radius: 0.375rem; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s; 
}

.deck-image:hover {
  transform: scale(1.1); 
}
