.opponent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
}

.opponent-name {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  color: white;
}

.opponent-card {
  height: 10rem;
  object-fit: contain;
}
