.topbar-container {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 0 0 30px 30px;
  min-width: 50vw;
  width: fit-content;
}

.round {
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 900;
  font-size: 15px;
  margin-bottom: 10px;
  color: #ffffff;
}

.players-row {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.player-container {
  text-align: center;
}

.name {
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
}

.score,
.cards-number {
  font-family: 'Trebuchet MS', sans-serif;
  margin-top: 5px;
  font-size: 12px;
  color: #ffffff;
}
